<div class="site-section pt-3 pb-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="site-section-heading text-center text-uppercase">Summary</h2>
        </div>
    </div>
</div>
<div class="site-section pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="caption d-block font-secondary font-weight-bold">Reference link to Data</span>
                <h2 class="site-section-heading text-uppercase text-center font-secondary"><a target="_blank" href="https://www.energy.gov/eere/">https://www.energy.gov/eere/</a></h2>
            </div>
        </div>
    </div>
</div>

<div class="site-section pt-3 pb-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
            <p>The rapid growth of solar energy has been a remarkable trend in recent years, driven by advancements in photovoltaic (PV) technology and increased investment in renewable energy infrastructure. Solar power capacity worldwide has expanded significantly from 40 GW in 2010 to over 1400 GW by 2023, reflecting a global push toward cleaner, more sustainable energy sources. Innovations such as bifacial solar panels, which capture sunlight on both sides of the panel, and perovskite solar cells, which promise higher efficiency at lower costs, are expected to further accelerate solar energy adoption. These advancements make solar energy more affordable and scalable, helping meet the increasing demand for clean electricity.</p>
        </div>
    </div>
</div>

<div class="site-section pt-3 pb-1">
    <div class="container">
      <div class="row">
        <div id="solar-growth">
        <h2>Solar Growth Over the Years</h2>
        <svg id="line-chart"></svg>
        </div>
    </div>
    </div>
</div>
<div class="site-section pt-3 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <p>The data represents solar adoption percentages across five regions. Asia Pacific leads with 35%, followed by Europe at 30%. North America accounts for 20%, while South America has 9% and Africa shows the lowest adoption at 6%, reflecting varying regional commitment and capacity for renewable energy.</p>
        </div>
    </div>
</div>

