<div class="site-section pt-3 pb-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="site-section-heading text-center text-uppercase">Dashboard</h2>
        </div>
    </div>
</div>
<div class="site-section pt-3 pb-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="caption d-block font-secondary font-weight-bold">Reference link to Text</span>
                <h2 class="site-section-heading text-uppercase text-center font-secondary"><a target="_blank" href="https://www.iea.org/news/rapid-progress-of-key-clean-energy-technologies-shows-the-new-energy-economy-is-emerging-faster-than-many-think">Link for Article</a></h2>
                <span class="caption d-block font-secondary font-weight-bold">Reference link to Graph Data</span>
                <h2 class="site-section-heading text-uppercase text-center font-secondary"><a target="_blank" href="https://www.energy.gov/eere/">https://www.energy.gov/eere/</a></h2>
            </div>
        </div>
    </div>
</div>
<div class="site-section pt-1">
    <div class="container">
        <div class="row">
            <h2 class="site-section-heading text-uppercase text-center font-secondary">Summary of Article</h2>
            <div class="col-md-6">
                <p>Clean energy is vital in tackling climate change and weaning ourselves off fossil fuels. New recent clean energy innovations are centered on efficiency, lower cost, and the scaling of renewable resources.One notable development pertains to the rapid progress of solar energy, notably with the advent of perovskite solar cells.</p>
                <p>These lighter-weight cells promise a cheaper production process and higher energy conversion efficiency than the state-of-the-art silicon-based ones. Besides the sun, wind energy technologies also undergo significant advances with much larger turbines that, while more expensive, catch more energy, and increasingly common offshore wind farms creating electricity in winds that tend to be more consistent.</p>
                <p>Another breakthrough may be in energy storage, when the world starts deploying long-duration batteries that can store renewable energy for days or weeks to solve the intermittency problem of solar and wind power. Then, green hydrogen is the most talked-about technology, where hydrogen derived from renewable energy could become a game-changer in cutting emissions from hard-to-decarbonize industries such as making steel and cement.</p>
            </div>
            <div class="col-md-6">
                <p>Of particular importance is the carbon capture and storage technology, where major strides have been attained thus far. This is especially evident in the technology that captures carbon dioxide emissions from power plants and industrial processes and stores them underground, preventing them from entering the atmosphere.</p>
                <p>These are necessary innovations for countries as they strive to meet their climate goals for a sustainable carbon-neutral future. With more investment and research, clean energy is going to be at the forefront to reduce global reliance on fossil fuels.</p>
                <p>Beyond that, smart grids are transforming the distribution and consumption of clean energy. These grids are basically digital communication technologies that constantly monitor and manage flows of electricity, thus integrating renewable sources like wind and solar in a far more efficient way. Smart grids also introduce better demand response whereby energy consumption is adjusted in real time depending on availability, and thus balances supply and demand.</p>
            </div>
        </div>
    </div>
</div>
<div class="site-section pt-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="site-section-heading text-uppercase text-center font-secondary">Tech Stack</h2>
                <p>The R03 application showcases recent clean energy innovations by employing a modern tech stack. It features an Angular-driven frontend to guarantee a seamless user interface, while Node.js powers the backend for server operations that are scalable. A MySQL database efficiently manages data and thus creates an integrated platform to showcase advancements in sustainable technology.</p>
            </div>
        </div>
    </div>
</div>
